{% extends 'content/index.html' %}


{% block top %}
<h1 class="m-0">Gelbe Seiten Tool</h1>
<div class="dropdown ml-auto">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Actions
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="{% url 'content:main' %}">Back</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{% url 'content:main' %}">Start</a>
	</div>
</div>
{% endblock top %}

{% block main %}

<a href="{% url 'fpioli:gelbeseitentool_fetch' %}">Fetch</a><br>
<a href="{% url 'fpioli:gelbeseitentool_messages' %}">Messages</a><br>
<a href="{% url 'fpioli:gelbeseitentool_companies' %}">Companies</a><br>
<a href="{% url 'fpioli:gelbeseitentool_download' %}">Download</a>

{% endblock main %}

{% block sub %}
<a href="{% url 'content:main' %}" class="btn btn-secondary">Back</a>
{% endblock sub %}
